body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer{
    background: lightskyblue;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}