button{
    background: #42a5f5;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large
}

.hilang{
    animation: maktring 1s ease forwards;
}

@keyframes maktring{
    from{
        opacity: 1;
        pointer-events: all;
    }
    to{
        opacity: 0;
        pointer-events: none;
    }
}

/* ?  walaupun button tidak terlihat di layar dan */
/* ?  tidak dapat di klik, namum masih muncul jika dilihat dengan */
/* ?  inspect element */
